{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "mocha": true
  },
  "plugins": [
    "react-native"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "func-names": 0,
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "no-console": 0,
    "no-empty-label": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "space-before-keywords": 0,
    "space-after-keywords": 0,
    "space-return-throw-case": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2
  }
}
